<div class="container">
  <div class="row justify-content-center workshop-form-page">
    <div class="col-6 mt-3">
      <h3>Add your house to House App !</h3>
      <%= render 'shared/form', house: @house %>
    </div>
  </div>
</div>
<%= render 'shared/login_form' %>
