.house-card-index {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.logo {
  height: 40px;
  width: 40px;
}

.img-house-card-index img {
  object-fit: cover;
  width: 100%;
}

.home-card-infos {
  h1 {
    font-size: 19px;
  }
  .house-name {
    margin: 5px;
  }
  .house-address {
    margin: 5px;
  }
  .house-price-rating {
    margin: 5px;
  }
}
