.house-card-index {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
  background: white;
  height: 280px;
}

// .logo {
//   height: 40px;
//   width: 40px;
// }

.img-house-card-index img {
  object-fit: cover;
  width: 100%;
}

.home-card-infos {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #245B6B;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0px;
    color: #245B6B;
  }
  .house-price-rating {
    margin: 0px;
  }
}

.h1-suggestions > h1 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #245B6B;
}
