.house-card-index {
  height: 300px;
    img {
    object-fit: cover;
    width: 100%;
  }
}

.logo {
  height: 40px;
  width: 40px;
}

.home-card-picture {
  background-size: cover;
}

.home-card-infos {

}
