.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map-houses {
  height: 100vh;
  position: sticky;
  border-radius: 10px;
  top: 0;
}

