  .navbar-lewagon_rest {
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-lewagon_rest .navbar-brand img {
  width: 40px;
}

.navbar-lewagon_rest .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
